body{
    width: 50vw;
    height: 100vh;

}
main{
    width: 100vw;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
}
.globalbox{
background-color: gold;
width: 50vw;
height: 50vh;

border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
#pic{
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.writing{
    background-color:rebeccapurple;
}
.order{
    color:yellow
}
.like{
    color: aqua;
}
.paypanel{
    background-color: cadetblue ;
    display: flex;
    flex-direction: column-reverse;
}
.annualplan{
    background-color: chartreuse;
}
.price{
    background-color: crimson;
}
.changpanel{
    background-color: coral;
}
.orderpanel{
    background-color: darkgreen;
}
.cancelpanel{
    background-color: deeppink;
}